.whatsappIconContainer
{
    position: fixed;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.363);
    bottom: 16px;
    border-radius: 1.6rem;
    right: 16px;
    user-select: none;
    display: flex;
    height: 50px;
    width: 60px;
    overflow: hidden;
    align-items: center;
    z-index: 1000000000000000000000000000;
    transition: all 0.2s ease;
    background-color: white;
}

.whatsappIconContainer > img
{
    margin: 10px;
    height: 40px;
    width: 40px;
    margin-left: 11px;
}

.whatsappIconContainer:hover
{
    width: 230px;
    transition: all 0.2s ease;
}

.whatsappIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 0.4rem;
    cursor: pointer;
}

.whatsappIcon > img{
    width: 40px;
}

.whatappText
{
    min-width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}