.forgetPassPopupBody
{
    height: 300px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 1.6rem;
    padding: 20px;
    overflow: hidden;
    position: relative;

    margin-bottom: 5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.473);
}

.forgetPassCloseBtnParent
{
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 30px;
    width: 40px;
    display: flex;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;

    /* border: 1px solid red; */
    display: flex;
}

.forgetPassContainer
{
    height: 100%;
    width: 100%;
}

.forgetPassContent
{
    /* border: 1px solid green; */
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 100%;
}
.forgetPassContent > h2
{
    /* border: 1px solid green; */

    border-bottom: 1px solid black;
}

.forgetPassContent > div
{
    /* border: 1px solid blue; */
    /* margin-bottom: 5rem; */
    width: 100%;
}

.forgetPassContentRow
{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.forgetPassContentRow > h1
{
    font-size: 1.3rem;
    font-weight: 500;
}
.forgetPassContentRow > input
{
    outline: none;
    width: 90%;
    border: none;
    border: 1px solid rgb(153, 153, 153);
    height: 3rem;
    padding: 0 20px;
}
.forgetPassContentRow > input:focus
{
    border: 1px solid rgb(0, 153, 255);
    outline: 1px solid rgb(0, 153, 255);
    transition: all 0.3s ease;
}
.forgetPassContentRow > input:valid
{
    border: 1px solid rgb(0, 153, 255);
    outline: 1px solid rgb(0, 153, 255);

    transition: all 0.3s ease;
}

.forgetPassSubmitParent
{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgetPassSubmitParent > button:hover
{
    border: 1px solid black;
    color: black;
    background-color: white;
    height: 3rem;
    padding: 0 30px;
    font-size: 1.2rem;
    border-radius: 3rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;

    font-weight: 600;
}
.forgetPassSubmitParent > button
{
    height: 3rem;
    padding: 0 30px;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid var(--main_theme);
    background-color: var(--main_theme);
    color: white;

    transition: all 0.2s ease;
}


.forgetPassHeading
{   
    /* border: 1px solid red; */
    width: 90%;
    font-size: 1.1rem;
}