.pRHowItWorksCardBody
{
    cursor: pointer;
    height: 200px;
    width: 24%;
    border-radius: 1.5rem;
    /* background-color: var(--secondary_color); */
    padding: 1rem;
    background-color: #E6E1D6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pRHowItWorksCardTop
{
    display: flex;
}

.pRHowItWorksCardContent
{
    /* border: 1px solid blue; */
    width: 70%;
}
.pRHowItWorksCardContenth1
{
    font-weight: 100;
    line-height: 2rem;
    font-size: 2rem;
}
.pRHowItWorksCardContenth2
{
    margin-top: 1rem;
    font-weight: 100;
    font-size: 1rem;
}

.pRHowItWorksCardLogo
{
    /* border: 1px solid red; */
    width: 30%;
}

.pRHowItWorksCardLogo > p
{
    display: flex;
    justify-content: end;
    font-size: 3rem;

    font-weight: 100;
}

.pRHowItWorksCardBottom
{
    height: 30%;
    /* border: 1px solid red; */
}
.pRHowItWorksCardBottom > p
{
    border: 1px solid black;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}