/* General Styles */
.searchCardBody {
    cursor: pointer;
    border: 1px solid rgb(208, 216, 208);
    background-color: var(--background_color);
    min-height: 200px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 1.6rem;
    overflow: hidden;
    transition: all 0.2s ease;
    padding: 1rem;
    margin: 0 auto; /* Center the card */
}

.searchCardBody:hover {
    box-shadow: 1px 1px 10px rgb(153, 153, 153);
    transition: all 0.2s ease;
}

.searchCardLeft {
    flex: 0 0 200px;
}

.searchCardLeft > img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.searchCardRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchCardRight > h1 {
    font-size: 1.25rem; /* Responsive font size */
    font-weight: 600;
    margin-bottom: 0.5rem; /* Margin bottom adjusted */
}

.searchCardRight > p {
    font-size: 1rem; /* Responsive font size */
    margin-bottom: 1rem; /* Margin bottom adjusted */
}

/* Media Queries */
@media (max-width: 768px) {
    .searchCardBody {
        flex-direction: column;
        align-items: flex-start;
    }

    .searchCardLeft {
        /* border: 1px solid red; */
        margin: 0 auto;
        width: 40%;
        flex: none;
        margin-bottom: 1rem; /* Add spacing below the image */
    }

    .searchCardRight{
        /* border: 1px solid red; */
        margin: 0 auto;
    }

    .searchCardRight > h1 {
        font-size: 1.125rem; /* Smaller font size */
        margin-left: 0;
    }

    .searchCardRight > p {
        font-size: 0.875rem; /* Smaller font size */
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .searchCardBody {
        padding: 0.5rem; /* Reduced padding */
    }

    .searchCardLeft {
        width: 50%;
    }

    .searchCardRight > h1 {
        font-size: 1rem; /* Even smaller font size */
    }

    .searchCardRight > p {
        font-size: 0.75rem; /* Even smaller font size */
    }
}
